/* Zadanie domowe studentów #2 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --logo-color: #2196F3;
    --logo-color-dark: #000000;
    --logo-color-light: #FFFFFF;
    --text-collor-one:#000000;
    --text-color-two:#212121;
    --text-color-tree:#757575;
    --text-color-four:#FFFFFF;
    --text-color-five:#2196F3;
    --text-color-six: rgba(255, 255, 255, 0.6);
    --bg-color-one: #ffffff;
    --bg-color-two: #E5E5E5;
    --bg-color-tree: #F5F4FA;
    --bg-color-four: #2F303A;
    --bg-color-five: #2196F3;
    --border-color-one: #EEEEEE;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: var(--bg-color-one, #FFFFFF);
    color: var(--text-collor-one, #000000);
}

.link {
    text-decoration: none;
}

link:hover, link:focus {
   color: var(--text-color-five, #2196F3);  
}

.header-link-navigation {
    margin-inline: 32px;
    color: var(--text-color-two, #212121);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left
}

.header-link-navigation-selected {
    margin-inline: 32px;
    color: var(--text-color-five, #2196F3);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left
}

.header-link-navigation:hover, .header-link-navigation:focus {
    color: var(--text-color-five, #2196F3);
}

.header-link-addresses{
    margin-inline: 32px;
    color: var(--text-color-tree, #757575);
    font-size: 14px; 
    font-weight: 500; 
    line-height: 1.1; 
    letter-spacing: 0.02em; 
    text-align: left;
}

.header-link-addresses:hover, .header-link-addresses:focus {
    color: var(--text-color-five, #2196F3); 
}

.header {
    background-color: var(--bg-color-one, #FFFFFF);
    height: 80px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    padding-top: 24px;
    padding-left: 215px; 
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;   
}

.header-logo-web {
    font-family: Raleway;
    color: var(--logo-color, #2196F3); 
}

.header-logo-studio {
    margin-left:-5px;
    color:var(--logo-color-dark, #000000);
    font-family: Raleway;
}

.header-navigation {
    display: inline-block;
    justify-content: center;
    padding-top: 32px;
}

.header-addresses {
    display: inline-block;
    justify-content: center;    
    padding-top: 32px; 
    padding-right: 215px; 
}

.section-topmain {
    background-color: var(--bg-color-four, #2F303A);
    height: 600px;
    width: 1600px; 
    text-align: center;
}

.title-one {
    color: var(--text-color-four, #FFFFFF);
    text-align: center;
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-topmain {
    width: 200px;
    height: 50px;
    background: var(--bg-color-five, #2196F3);
    color: var(--text-color-four, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;
}

.section-fourpharagraf {
    width: 1600px;
    padding-top: 24px;
}

.section-list {
    padding-left: 215px; 
    padding-right: 215px; 
    display: flex; 
    justify-content: space-between; 
    list-style-type: none;
} 

.title-tree {
    color: var(--text-color-two, #212121);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;    
}

.text-fourpharagraf {
    height: 75px;
    width: 270px;
    border-radius: nullpx;
    color: var(--text-color-tree, #757575);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;   
}

.section-areaofinterest {
    width: 1600px;
    padding-top: 24px;
}
    
.title-two {
    padding-top: 94px;
    color: var(--text-color-two, #212121);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}  
        
.section-ourteam {
    padding-top: 24px;
    background-color: var(--bg-color-tree, #F5F4FA);
    height: 648px; 
    width: 1600px; 
    text-align: center;   
}

.photo-box {
    background-color: var(--bg-color-one, #FFFFFF);
    height: 368px;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
    
.title-four {
    color: var(--text-color-two, #212121);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.text-photo {
    color: var(--text-color-tree, #757575);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.footer {
    background-color: #2F303A;
    height: 252px; 
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    padding-top: 60px;
    padding-left: 215px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-logo-web {
    font-family: Raleway;
    color: var(--logo-color, #2196F3);
}

.footer-logo-studio {
    margin-left: -5px;
    color: var(--logo-color-light, #FFFFFF);
    font-family: Raleway;
}

.footer-address {
    color: var(--logo-color-light, #FFFFFF);
    padding-left: 215px;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-mail {
    padding-left: 215px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-six, rgba(255, 255, 255, 0.6));
}

.footer-phone {
    padding-left: 215px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color-six, rgba(255, 255, 255, 0.6));
}

.section-fivebuttons {
    padding-top: 94px;
    padding-bottom: 26px;
    width: 1600px;
    display: flex;
    justify-content: center;
}

.button-portfolio {
    border-style: none;
    margin-left: 4px;
    margin-right: 4px;
    background: var(--bg-color-tree, #F5F4FA);
    color: var(--text-color-two, #212121);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}

.button-portfolio:hover, .button-portfolio:focus {
    background: var(--bg-color-five, #2196F3);
    color: var(--text-color-four, #FFFFFF)
}

.section-firstraw {
    padding-top: 30px;
    width: 1600px;
    text-align: left;
}

.section-middleraw {
    padding-top: 30px;
    width: 1600px;
    text-align: left;
}

.section-lastraw {
    padding-top: 30px;
    padding-bottom: 94px;
    width: 1600px;
    text-align: left;
}
    

.portfolio-photo-box {
    background-color: var(--bg-color-one, #FFFFFF);
    box-sizing: border-box;
    height: 404px;
    width: 372px;
    border-color: var(--border-color-one,#EEEEEE);
    border-style: solid;
    border-width: 1px;
}

.portfolio-title-four {
    color: var(--text-color-two, #212121);
    margin: 0px;
    text-indent: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.portfolio-text-photo {
    color: var(--text-color-tree, #757575);
    margin: 0px;
    text-indent: 20px;
    padding-top: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.03em;
    text-align: left;
}

            





        
       
    

    

